@page
@model HealthApp.Razor.Pages.AdminModel
@{
}
<h1>Admin</h1>
<p> The code is @Model.UserId</p>
<p>The user is @User.Identity.Name</p>
<ul>
    @foreach (var item in User.Claims)
    {
        <li>@item</li>
    }
</ul>